.main-page-link {
  text-decoration: none;
}

.main-page-link:hover, .main-page-link:visited, .main-page-link:active {
  color: inherit !important;
}

.footer {
  display: flex;
  margin: 80px auto -30px auto;
  padding: 0 16px;
  width: 260px;
  flex-direction: column;
  align-items: center;
}

