.content {
  display: flex;
  margin: 82px auto -30px auto;
  padding: 0 16px;
  max-width: 260px;
  flex-direction: column;
}

.list-title {
  margin-top: 10px;
  font-size: large;
  font-weight: bold;
}

.list-header {
  display: flex;
  flex-direction: row;
  margin-bottom: -20px;
}

.create-content {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 8px;
}

.item-actions {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.icon-option {
  cursor: pointer;
  margin-left: 3%;
}
